.bx-exit,.bx-right-arrow-circle{
  font-size: 50px;

}
.hover-aqua:hover{
color:#61dafb;
}
.alert-main{
  /* z-index: 1001; */
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.Alert-bg{
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  z-index: 1001;
}
.Loading{
  background-color: rgba(0,0,0,0.9);
  position : fixed;
  top: 0;
  left:0;
  width:100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

}

.myViewTable{
  /* overflow-x: scroll; */
  max-width: 300px;
}